<section class="about-us" id="about">
    <div class="about-us__content">
        <div class="about-us__row">
            <div class="about-us__info">
                <h2 class="about-us__info-heading">
                    О нас
                </h2>
                <div class="about-us__info-text">
                    Mark Weber&nbsp;&mdash; это digital-студия, базирующаяся в&nbsp;Казани, но&nbsp;работающая
                    на&nbsp;весь мир. Создаем удобные в
                    пользовании эстетичные digital-продукты, которые решают бизнес-задачи в&nbsp;различных отраслях:
                    финансы,
                    производство, IT, медицина, медиа, недвижимость и&nbsp;др.
                </div>
            </div>
            <div class="about-us__expertise">
                <h2 class="about-us__expertise-heading">
                    Экспертиза
                </h2>
                <ol class="about-us__expertise-list">
                    <li class="about-us__expertise-list-item">
                        <span class="about-us__expertise-text">
                            Финансы
                        </span>
                    </li>
                    <li class="about-us__expertise-list-item">
                        <span class="about-us__expertise-text">
                            Медиа и СИМ
                        </span>
                    </li>
                    <li class="about-us__expertise-list-item">
                        <span class="about-us__expertise-text">
                            Производство
                        </span>
                    </li>
                    <li class="about-us__expertise-list-item">
                        <span class="about-us__expertise-text">
                            E-commerce
                        </span>
                    </li>
                    <li class="about-us__expertise-list-item">
                        <span class="about-us__expertise-text">
                            Недвижимость
                        </span>
                    </li>
                    <li class="about-us__expertise-list-item">
                        <span class="about-us__expertise-text">
                            Сервисы
                        </span>
                    </li>
                    <li class="about-us__expertise-list-item">
                        <span class="about-us__expertise-text">
                            Медицина
                        </span>
                    </li>
                </ol>
            </div>
        </div>
        <div class="about-us__card">
            <div class="about-us__card-bg">
                <picture>
                    <source srcset="/images/about-bg-mobile.webp" media="(max-width: 640px)" />
                    <img src="/images/about-bg.webp" alt="MDN" class="about-us__card-bg-image" />
                </picture>
            </div>
            <div class="about-us__card-content">
                <h2 class="about-us__card-title">
                    О нас
                </h2>
            </div>
        </div>
    </div>
</section>