<section class="projects projects--archive" id="projects">
    <div class="projects__content">
        <div class="projects__title-wrapper">
            <h1 class="projects__title">
                Наши работы
            </h1>
        </div>
        <div class="projects__row">
            <h3 class="projects__secondary-heading">
                Сделано в МВА
            </h3>
            <div class="projects__secondary-text">
                © 2014—2024
            </div>
            <div class="projects__categories">
                <button class="projects__categories-btn" type="button">
                    <span class="projects__categories-btn-text">
                        Избранные
                    </span>
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#filters"></use>
                    </svg>
                </button>
                <div class="projects__categories-dropdown">
                    <div class="projects__categories-dropdown-inner">
                        <ul class="projects__categories-list">
                            <li class="projects__categories-list-item">
                                <a href="#" class="projects__categories-link active">
                                    <span class="projects__categories-link-text">
                                        Избранные
                                    </span>
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#checkmark"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="projects__categories-list-item">
                                <a href="#" class="projects__categories-link">
                                    <span class="projects__categories-link-text">
                                        Дизайн и разработка
                                    </span>
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#checkmark"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="projects__categories-list-item">
                                <a href="#" class="projects__categories-link">
                                    <span class="projects__categories-link-text">
                                        Брендинг
                                    </span>
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#checkmark"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="projects__categories-list-item">
                                <a href="#" class="projects__categories-link">
                                    <span class="projects__categories-link-text">
                                        Маркетинг
                                    </span>
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#checkmark"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <a href="#" class="projects__all-link">
                Все проекты
            </a>
        </div>
        <ul class="projects__list">
            <li class="projects__list-item">
                <a href="#" class="projects__card">
                    <div class="projects__card-image-container">
                        <img src="/images/projects/1.webp" alt="" class="projects__card-image">
                    </div>
                    <div class="projects__card-info">
                        <h4 class="projects__card-title">
                            RM Agro
                        </h4>
                        <div class="projects__card-name">
                            Agro
                        </div>
                        <div class="projects__card-year">
                            2022
                        </div>
                    </div>
                </a>
            </li>
            <li class="projects__list-item">
                <a href="#" class="projects__card">
                    <div class="projects__card-image-container">
                        <img src="/images/projects/2.webp" alt="" class="projects__card-image">
                    </div>
                    <div class="projects__card-info">
                        <h4 class="projects__card-title">
                            My Corner
                        </h4>
                        <div class="projects__card-name">
                            E-commerce
                        </div>
                        <div class="projects__card-year">
                            2022
                        </div>
                    </div>
                </a>
            </li>
            <li class="projects__list-item projects__list-item--wide">
                <a href="#" class="projects__card">
                    <div class="projects__card-image-container">
                        <picture>
                            <source srcset="/images/projects/3-mobile.webp" media="(max-width: 640px)" />
                            <img src="/images/projects/3.webp" alt="MDN" class="projects__card-image" />
                        </picture>
                    </div>
                    <div class="projects__card-info">
                        <h4 class="projects__card-title">
                            VIPAVENUE
                        </h4>
                        <div class="projects__card-name">
                            E-commerce
                        </div>
                        <div class="projects__card-year">
                            2022
                        </div>
                    </div>
                </a>
            </li>
            <li class="projects__list-item">
                <a href="#" class="projects__card">
                    <div class="projects__card-image-container">
                        <img src="/images/projects/4.webp" alt="" class="projects__card-image">
                    </div>
                    <div class="projects__card-info">
                        <h4 class="projects__card-title">
                            Pevek
                        </h4>
                        <div class="projects__card-name">
                            E-commerce
                        </div>
                        <div class="projects__card-year">
                            2022
                        </div>
                    </div>
                </a>
            </li>
            <li class="projects__list-item">
                <a href="#" class="projects__card">
                    <div class="projects__card-image-container">
                        <img src="/images/projects/5.webp" alt="" class="projects__card-image">
                    </div>
                    <div class="projects__card-info">
                        <h4 class="projects__card-title">
                            iFellow
                        </h4>
                        <div class="projects__card-name">
                            Service
                        </div>
                        <div class="projects__card-year">
                            2022
                        </div>
                    </div>
                </a>
            </li>
            <li class="projects__list-item projects__list-item--wide">
                <a href="#" class="projects__card">
                    <div class="projects__card-image-container">
                        <picture>
                            <source srcset="/images/projects/3-mobile.webp" media="(max-width: 640px)" />
                            <img src="/images/projects/3.webp" alt="MDN" class="projects__card-image" />
                        </picture>
                    </div>
                    <div class="projects__card-info">
                        <h4 class="projects__card-title">
                            VIPAVENUE
                        </h4>
                        <div class="projects__card-name">
                            E-commerce
                        </div>
                        <div class="projects__card-year">
                            2022
                        </div>
                    </div>
                </a>
            </li>
            <li class="projects__list-item">
                <a href="#" class="projects__card">
                    <div class="projects__card-image-container">
                        <img src="/images/projects/4.webp" alt="" class="projects__card-image">
                    </div>
                    <div class="projects__card-info">
                        <h4 class="projects__card-title">
                            Pevek
                        </h4>
                        <div class="projects__card-name">
                            E-commerce
                        </div>
                        <div class="projects__card-year">
                            2022
                        </div>
                    </div>
                </a>
            </li>
            <li class="projects__list-item">
                <a href="#" class="projects__card">
                    <div class="projects__card-image-container">
                        <img src="/images/projects/5.webp" alt="" class="projects__card-image">
                    </div>
                    <div class="projects__card-info">
                        <h4 class="projects__card-title">
                            iFellow
                        </h4>
                        <div class="projects__card-name">
                            Service
                        </div>
                        <div class="projects__card-year">
                            2022
                        </div>
                    </div>
                </a>
            </li>
        </ul>
        <a href="#" class="projects__all-projects-bottom-link">
            Все проекты
        </a>

    </div>
</section>