<section class="projects projects--archive" id="projects">
    <div class="projects__content">

        <div class="projects__row">
            <h3 class="projects__secondary-heading">
                Сделано в МВА
            </h3>
            <div class="projects__secondary-text">
                © 2014—2024
            </div>
        </div>
        <ul class="projects__list">
            <li class="projects__list-item">
                <a href="#" class="projects__card">
                    <div class="projects__card-image-container">
                        <img src="/images/projects/1.webp" alt="" class="projects__card-image">
                    </div>
                    <div class="projects__card-info">
                        <h4 class="projects__card-title">
                            RM Agro
                        </h4>
                        <div class="projects__card-name">
                            Agro
                        </div>
                        <div class="projects__card-year">
                            2022
                        </div>
                    </div>
                </a>
            </li>
            <li class="projects__list-item">
                <a href="#" class="projects__card">
                    <div class="projects__card-image-container">
                        <img src="/images/projects/2.webp" alt="" class="projects__card-image">
                    </div>
                    <div class="projects__card-info">
                        <h4 class="projects__card-title">
                            My Corner
                        </h4>
                        <div class="projects__card-name">
                            E-commerce
                        </div>
                        <div class="projects__card-year">
                            2022
                        </div>
                    </div>
                </a>
            </li>
            <li class="projects__list-item projects__list-item--wide">
                <a href="#" class="projects__card">
                    <div class="projects__card-image-container">
                        <picture>
                            <source srcset="/images/projects/3-mobile.webp" media="(max-width: 640px)" />
                            <img src="/images/projects/3.webp" alt="MDN" class="projects__card-image" />
                        </picture>
                    </div>
                    <div class="projects__card-info">
                        <h4 class="projects__card-title">
                            VIPAVENUE
                        </h4>
                        <div class="projects__card-name">
                            E-commerce
                        </div>
                        <div class="projects__card-year">
                            2022
                        </div>
                    </div>
                </a>
            </li>
            <li class="projects__list-item">
                <a href="#" class="projects__card">
                    <div class="projects__card-image-container">
                        <img src="/images/projects/4.webp" alt="" class="projects__card-image">
                    </div>
                    <div class="projects__card-info">
                        <h4 class="projects__card-title">
                            Pevek
                        </h4>
                        <div class="projects__card-name">
                            E-commerce
                        </div>
                        <div class="projects__card-year">
                            2022
                        </div>
                    </div>
                </a>
            </li>
            <li class="projects__list-item">
                <a href="#" class="projects__card">
                    <div class="projects__card-image-container">
                        <img src="/images/projects/5.webp" alt="" class="projects__card-image">
                    </div>
                    <div class="projects__card-info">
                        <h4 class="projects__card-title">
                            iFellow
                        </h4>
                        <div class="projects__card-name">
                            Service
                        </div>
                        <div class="projects__card-year">
                            2022
                        </div>
                    </div>
                </a>
            </li>
            <li class="projects__list-item projects__list-item--wide">
                <a href="#" class="projects__card">
                    <div class="projects__card-image-container">
                        <picture>
                            <source srcset="/images/projects/3-mobile.webp" media="(max-width: 640px)" />
                            <img src="/images/projects/3.webp" alt="MDN" class="projects__card-image" />
                        </picture>
                    </div>
                    <div class="projects__card-info">
                        <h4 class="projects__card-title">
                            VIPAVENUE
                        </h4>
                        <div class="projects__card-name">
                            E-commerce
                        </div>
                        <div class="projects__card-year">
                            2022
                        </div>
                    </div>
                </a>
            </li>
            <li class="projects__list-item">
                <a href="#" class="projects__card">
                    <div class="projects__card-image-container">
                        <img src="/images/projects/4.webp" alt="" class="projects__card-image">
                    </div>
                    <div class="projects__card-info">
                        <h4 class="projects__card-title">
                            Pevek
                        </h4>
                        <div class="projects__card-name">
                            E-commerce
                        </div>
                        <div class="projects__card-year">
                            2022
                        </div>
                    </div>
                </a>
            </li>
            <li class="projects__list-item">
                <a href="#" class="projects__card">
                    <div class="projects__card-image-container">
                        <img src="/images/projects/5.webp" alt="" class="projects__card-image">
                    </div>
                    <div class="projects__card-info">
                        <h4 class="projects__card-title">
                            iFellow
                        </h4>
                        <div class="projects__card-name">
                            Service
                        </div>
                        <div class="projects__card-year">
                            2022
                        </div>
                    </div>
                </a>
            </li>
        </ul>

    </div>
</section>