<section class="case-content">
    <div class="case-content__content">
        <div class="case-content__blocks">
            <div class="wide-image">
                <img src="/images/wide-image.webp" alt="">
            </div>
            <h4>
                Надзаголовок
            </h4>
            <h2>
                Заголовок первого уровня
            </h2>
            <h3>
                Заголовок второго уровня
            </h3>
            <p>
                Абзац текста. Пример — Предоставить клиентам максимально удобный и интуитивно понятный способ
                бронирования услуг, получения информации о процедурах и профессионалах, а также ознакомления с компанией
                и ее миссией.
            </p>
            <h4>
                Заголовок списка
            </h4>
            <ul>
                <li>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam numquam repellendus corporis
                    temporibus, quisquam consequatur fugit saepe quos nesciunt maxime eligendi, esse dolor eaque illum
                    aut laudantium quis quas impedit?
                </li>
                <li>
                    Пункт два
                </li>
                <li>
                    Пункт три
                </li>
                <li>
                    Пункты четыре
                </li>
                <li>
                    Пункт пять
                </li>
                <li>
                    Пункт шесть
                </li>
            </ul>
            <div class="spacer"></div>
            <h4>
                Надзаголовок
            </h4>
            <h2>
                Заголовок первого уровня
            </h2>
            <h3>
                Заголовок второго уровня
            </h3>
            <p>
                Абзац текста. Пример — Предоставить клиентам максимально удобный и интуитивно понятный способ
                бронирования услуг, получения информации о процедурах и профессионалах, а также ознакомления с компанией
                и ее миссией.
            </p>


            <h4>
                Заголовок списка
            </h4>
            <ol>
                <li>
                    Пункт один
                </li>
                <li>
                    Пункт два
                </li>
                <li>
                    Пункт три
                </li>
                <li>
                    Пункты четыре
                </li>
                <li>
                    Пункт пять
                </li>
                <li>
                    Пункт шесть
                </li>
            </ol>
            <div class="narrow-image">
                <img src="/images/narrow-image-1.webp" alt="">
            </div>
            <div class="narrow-image">
                <img src="/images/narrow-image-2.webp" alt="">
            </div>
            <div class="fullscreen-image">
                <img src="/images/fullscreen-image.webp" alt="">
            </div>
        </div>
        <a href="#" class="case-content__website-link">
            <img src="/images/corner-transparent.webp" alt="" class="case-content__website-link-icon">
            mycorner.ru
        </a>
    </div>
</section>