<section class="case-intro">
    <div class="case-intro__content">
        <h1 class="case-intro__title">
            My Corner
        </h1>
        <div class="case-intro__bottom">
            <img src="/images/corner.webp" alt="" class="case-intro__icon">
            <a href="#" class="case-intro__link">
                mycorner.ru
            </a>
            <div class="case-intro__desc">
                Студия создала веб-сайт для немецкого застройщика, который проектирует и строит концептуальные жилые и
                коммерческие объекты.
            </div>
        </div>
    </div>
</section>