<section class="case-credits">
    <div class="case-credits__content">
        <div class="case-credits__block">
            <h2 class="case-credits__block-title">
                My Corner
            </h2>
            <div class="case-credits__block-content">
                <div class="case-credits__text">
                    Студия создала веб-сайт для застройщика в Германии, который проектирует и строит концептуальные
                    жилые и коммерческие объекты.
                </div>
            </div>
        </div>
        <div class="case-credits__block">
            <h2 class="case-credits__block-title">
                Команда
            </h2>
            <div class="case-credits__block-content">
                <ul class="case-credits__list">
                    <li class="case-credits__list-item">
                        <div class="case-credits__card">
                            <div class="case-credits__card-key">
                                Дизайн
                            </div>
                            <div class="case-credits__card-value">
                                Ирек Гимадеев
                            </div>
                        </div>
                    </li>
                    <li class="case-credits__list-item">
                        <div class="case-credits__card">
                            <div class="case-credits__card-key">
                                Проект-менеджер
                            </div>
                            <div class="case-credits__card-value">
                                Александра Гервасьева
                            </div>
                        </div>
                    </li>
                    <li class="case-credits__list-item">
                        <div class="case-credits__card">
                            <div class="case-credits__card-key">
                                Разработчик
                            </div>
                            <div class="case-credits__card-value">
                                Виталий Данилюк
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>