<section class="case-content">
    <div class="case-content__content">
        <div class="case-content__blocks">
            <div class="wide-image">
                <img src="/images/wide-image.webp" alt="">
            </div>
            <div class="narrow-image">
                <img src="/images/narrow-image-1.webp" alt="">
            </div>
            <div class="narrow-image">
                <img src="/images/narrow-image-2.webp" alt="">
            </div>
            <div class="fullscreen-image">
                <img src="/images/fullscreen-image.webp" alt="">
            </div>
        </div>
        <a href="#" class="case-content__website-link">
            <img src="/images/corner-transparent.webp" alt="" class="case-content__website-link-icon">
            mycorner.ru
        </a>
    </div>
</section>