<section class="case-projects">
    <div class="case-projects__content">
        <h2 class="case-projects__heading">
            Избранные проекты
        </h2>
        <ul class="projects__list">

            <li class="projects__list-item">
                <a href="#" class="projects__card">
                    <div class="projects__card-image-container">
                        <img src="/images/projects/4.webp" alt="" class="projects__card-image">
                    </div>
                    <div class="projects__card-info">
                        <h4 class="projects__card-title">
                            Pevek
                        </h4>
                        <div class="projects__card-name">
                            E-commerce
                        </div>
                        <div class="projects__card-year">
                            2022
                        </div>
                    </div>
                </a>
            </li>
            <li class="projects__list-item">
                <a href="#" class="projects__card">
                    <div class="projects__card-image-container">
                        <img src="/images/projects/5.webp" alt="" class="projects__card-image">
                    </div>
                    <div class="projects__card-info">
                        <h4 class="projects__card-title">
                            iFellow
                        </h4>
                        <div class="projects__card-name">
                            Service
                        </div>
                        <div class="projects__card-year">
                            2022
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>