<footer class="page-footer" id="contacts" data-section="light">
    <div class="page-footer__content">
        <a href="/" class="page-footer__logo">
            <img src="/images/mw-logo.svg" alt="Лого" class="page-footer__logo-image">
        </a>
        <div class="page-footer__row">
            <div class="page-footer__copyright">
                MWA®
            </div>
            <div class="page-footer__year">
                ©2024
            </div>
            <ul class="page-footer__social-list">
                <li class="page-footer__social-list-item">
                    <a href="#" class="page-footer__social-link">
                        Dprofile
                    </a>
                </li>
                <li class="page-footer__social-list-item">
                    <a href="#" class="page-footer__social-link">
                        Behance
                    </a>
                </li>
                <li class="page-footer__social-list-item">
                    <a href="#" class="page-footer__social-link">
                        Telegram
                    </a>
                </li>
                <li class="page-footer__social-list-item">
                    <a href="#" class="page-footer__social-link">
                        WhatsApp
                    </a>
                </li>
            </ul>
            <a href="#" class="page-footer__cookies">
                Cookie preferences
            </a>
        </div>
    </div>
</footer>