<header class="page-header">
    <div class="page-header__content">
        <a href="#" class="page-header__logo">
            <img src="/images/mw-logo.svg" alt="" class="page-header__logo-image">
        </a>
        <div class="page-header__studio">
            Mark Weber<br> Studio
        </div>
        <div class="page-header__menu">
            <nav class="page-header__nav">
                <ul class="page-header__nav-list">
                    <li class="page-header__nav-list-item">
                        <a href="#projects" class="page-header__nav-link">
                            Проекты
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#about" class="page-header__nav-link">
                            О нас
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#contacts" class="page-header__nav-link">
                            Контакты
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="page-header__years">
                ©2014—2024
            </div>
            <div class="page-header__showreel">
                <a href="#" class="page-header__showreel-card">
                    <div class="page-header__showreel-card-image-container">
                        <img src="/images/showreel.webp" alt="" class="page-header__showreel-card-image">
                    </div>
                    <div class="page-header__showreel-card-row">
                        <div class="page-header__showreel-card-info">
                            <h3 class="page-header__showreel-card-title">
                                Шоурил
                            </h3>
                            <div class="page-header__showreel-card-duration">
                                1:59
                            </div>
                        </div>
                        <div class="page-header__showreel-card-year">
                            2023
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <button class="page-header__burger">
            <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#burger-closed"></use>
            </svg>
            <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#burger-open"></use>
            </svg>
        </button>
    </div>
</header>