<script>
    if (history.scrollRestoration) {
        history.scrollRestoration = "manual";
    }
</script>
<div class="loader">
    <div class="loader__content">
        <div class="loader__years">
            ©2014—2024
        </div>
        <div class="loader__word loader__mark">
            M<span>ark</span>
        </div>
        <div class="loader__word loader__weber">
            W<span>eber</span>
        </div>
        <div class="loader__word loader__studio">
            S<span>tudio</span>
        </div>
    </div>
    <div class="loader__hidden-content">
        <div class="loader__m">
            M
        </div>
        <div class="loader__w">
            W
        </div>
        <div class="loader__s">
            S
        </div>
    </div>
</div>