<section class="manifest">
    <div class="manifest__content">
        <div class="manifest__ceo">
            <div class="manifest__ceo-image-wrapper">
                <img src="/images/manifest.webp" alt="" class="manifest__ceo-image">
            </div>
            <div class="manifest__ceo-text">
                <h3 class="manifest__ceo-name">
                    Рустем Биктагиров
                </h3>
                <div class="manifest__ceo-text">
                    CEO
                </div>
            </div>
        </div>
        <div class="manifest__quote">
            <h2 class="manifest__quote-heading">
                Манифест
            </h2>
            <div class="manifest__quote-text">
                Делать жизнь людей комфортной через создание полезных и удобных диджитал-сервисов.
            </div>
        </div>
    </div>
</section>