<section class="not-found" data-section="light">
    <div class="not-found__content">
        <div class="not-found__message">
            <h1 class="not-found__code">
                404
            </h1>
            <div class="not-found__text">
                <p class="not-found__title">
                    Страница не найдена
                </p>
                <p class="not-found__description">
                    Кажется, такой страницы не существует. Возможно, она была удалена или адрес введён неверно.
                </p>
            </div>
            <a href="/" class="not-found__home-link">
                На главную
            </a>
        </div>
    </div>
</section>
