<section class="service-quote" data-section="light">
    <div class="service-quote__content">
        <div class="service-quote__row">
            <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#quotes"></use>
            </svg>
            <div class="service-quote__text-content">
                <div class="service-quote__text">
                    Копим экспертность внутри команды и реализуем все свои возможности на проектах. Предлагаем несколько
                    вариантов решения вашей задачи.
                </div>
                <div class="service-quote__author">
                    <div class="service-quote__author-name">
                        Рустем Биктагиров
                    </div>
                    <div class="service-quote__author-position">
                        CEO MWS
                    </div>
                </div>
            </div>
        </div>
        <div class="service-quote__image-wrapper">
            <img src="/images/service-quote.webp" alt="" class="service-quote__image">
        </div>
    </div>
</section>