<section class="service-stack" data-section="light">
    <div class="service-stack__content">
        <h2 class="service-stack__heading">
            Стек разработки
        </h2>
        <ul class="service-stack__list">
            <li class="service-stack__list-item">
                PHP
            </li>
            <li class="service-stack__list-item">
                Nuxt.JS
            </li>
            <li class="service-stack__list-item">
                JavaScript
            </li>
            <li class="service-stack__list-item">
                Wordpress
            </li>
            <li class="service-stack__list-item">
                1C-Bitrix
            </li>
            <li class="service-stack__list-item">
                Tilda
            </li>
            <li class="service-stack__list-item">
                Laravel
            </li>
            <li class="service-stack__list-item">
                Shopify
            </li>
            <li class="service-stack__list-item">
                Vue.JS
            </li>
        </ul>
    </div>
</section>