<section class="services">
    <div class="services__content">
        <div class="services__services-block">
            <div class="services__services-block-row">
                <h2 class="services__services-block-heading">
                    Услуги
                </h2>
                <div class="services__services-block-years">
                    © 2014—2024
                </div>
            </div>
            <div class="services__services-block-content">
                <ul class="services__services-list">
                    <li class="services__services-list-item">
                        <div class="services__services-accordion">
                            <button class="services__services-accordion-btn">
                                <span class="services__services-accordion-btn-text">
                                    Маркетинг
                                </span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                          d="M13 4H11V11H4L4 13H11V20H13V13H20V11H13V4Z"/>
                                </svg>
                            </button>
                            <div class="services__services-accordion-dropdown">
                                <div class="services__services-accordion-dropdown-content">
                                    <div class="services__services-accordion-dropdown-text-content">
                                        <div class="services__services-accordion-dropdown-text">
                                            <p>
                                                Разрабатываем и реализуем маркетинговые стратегии.
                                            </p>
                                        </div>
                                        <ul class="services__subcategories-list">
                                            <li class="services__subcategories-list-item">
                                                <a href="#" class="services__subcategories-link">
                                                    Исследования и аналитика
                                                </a>
                                                <ul class="services__subcategories-list">
                                                    <li class="services__subcategories-list-item">
                                                        <a href="#" class="services__subcategories-link">
                                                            Маркетинговые исследования
                                                        </a>
                                                    </li>
                                                    <li class="services__subcategories-list-item">
                                                        <a href="#" class="services__subcategories-link">
                                                            Маркетинговый аудит
                                                        </a>
                                                    </li>
                                                    <li class="services__subcategories-list-item">
                                                        <a href="#" class="services__subcategories-link">
                                                            Веб-аналитика
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="services__subcategories-list-item">
                                                <a href="#" class="services__subcategories-link">
                                                    Маркетинговая стратегия
                                                </a>

                                            </li>
                                            <li class="services__subcategories-list-item">
                                                <a href="#" class="services__subcategories-link">
                                                    Digital-маркетинг
                                                </a>
                                                <ul class="services__subcategories-list">
                                                    <li class="services__subcategories-list-item">
                                                        <a href="#" class="services__subcategories-link">
                                                            SEO
                                                        </a>
                                                    </li>
                                                    <li class="services__subcategories-list-item">
                                                        <a href="#" class="services__subcategories-link">
                                                            Контекстная реклама
                                                        </a>
                                                    </li>
                                                    <li class="services__subcategories-list-item">
                                                        <a href="#" class="services__subcategories-link">
                                                            Продвижение приложений
                                                        </a>
                                                    </li>
                                                    <li class="services__subcategories-list-item">
                                                        <a href="#" class="services__subcategories-link">
                                                            Таргет
                                                        </a>
                                                    </li>
                                                    <li class="services__subcategories-list-item">
                                                        <a href="#" class="services__subcategories-link">
                                                            SMM
                                                        </a>
                                                    </li>
                                                    <li class="services__subcategories-list-item">
                                                        <a href="#" class="services__subcategories-link">
                                                            Продвижение приложений
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="services__subcategories-list-item">
                                                <a href="#" class="services__subcategories-link">
                                                    PR
                                                </a>
                                                <ul class="services__subcategories-list">
                                                    <li class="services__subcategories-list-item">
                                                        <a href="#" class="services__subcategories-link">
                                                            Стратегия
                                                        </a>
                                                    </li>
                                                    <li class="services__subcategories-list-item">
                                                        <a href="#" class="services__subcategories-link">
                                                            Сопровождение
                                                        </a>
                                                    </li>

                                                </ul>
                                            </li>
                                        </ul>
                                        <div class="services__showreel-wrapper">
                                            <a href="/video/showreel.mp4" class="services__showreel" data-fancybox="">
                                                <img src="/images/showreel.webp" alt="">
                                                <video loop="" muted="" playsinline="">
                                                    <source src="/video/showreel_h265.mp4"
                                                            type="video/mp4; codecs=hevc,mp4a.40.2">
                                                    <source src="/video/showreel.mp4" type="video/mp4">
                                                </video>
                                            </a>
                                        </div>
                                        <a href="#" class="services__services-accordion-dropdown-link">
                                            Подробнее о направлении
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="services__services-list-item">
                        <div class="services__services-accordion">
                            <button class="services__services-accordion-btn">
                                <span class="services__services-accordion-btn-text">
                                    Дизайн
                                </span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                          d="M13 4H11V11H4L4 13H11V20H13V13H20V11H13V4Z"/>
                                </svg>
                            </button>
                            <div class="services__services-accordion-dropdown">
                                <div class="services__services-accordion-dropdown-content">
                                    <div class="services__services-accordion-dropdown-text-content">
                                        <div class="services__services-accordion-dropdown-text">
                                            <p>
                                                Разрабатываем и реализуем маркетинговые стратегии.
                                            </p>
                                        </div>
                                        <ul class="services__subcategories-list">
                                            <li class="services__subcategories-list-item">
                                                <a href="#" class="services__subcategories-link">
                                                    Исследования и аналитика
                                                </a>
                                                <ul class="services__subcategories-list">
                                                    <li class="services__subcategories-list-item">
                                                        <a href="#" class="services__subcategories-link">
                                                            Маркетинговые исследования
                                                        </a>
                                                    </li>
                                                    <li class="services__subcategories-list-item">
                                                        <a href="#" class="services__subcategories-link">
                                                            Маркетинговый аудит
                                                        </a>
                                                    </li>
                                                    <li class="services__subcategories-list-item">
                                                        <a href="#" class="services__subcategories-link">
                                                            Веб-аналитика
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="services__subcategories-list-item">
                                                <a href="#" class="services__subcategories-link">
                                                    Маркетинговая стратегия
                                                </a>

                                            </li>
                                            <li class="services__subcategories-list-item">
                                                <a href="#" class="services__subcategories-link">
                                                    Digital-маркетинг
                                                </a>
                                                <ul class="services__subcategories-list">
                                                    <li class="services__subcategories-list-item">
                                                        <a href="#" class="services__subcategories-link">
                                                            SEO
                                                        </a>
                                                    </li>
                                                    <li class="services__subcategories-list-item">
                                                        <a href="#" class="services__subcategories-link">
                                                            Контекстная реклама
                                                        </a>
                                                    </li>
                                                    <li class="services__subcategories-list-item">
                                                        <a href="#" class="services__subcategories-link">
                                                            Продвижение приложений
                                                        </a>
                                                    </li>
                                                    <li class="services__subcategories-list-item">
                                                        <a href="#" class="services__subcategories-link">
                                                            Таргет
                                                        </a>
                                                    </li>
                                                    <li class="services__subcategories-list-item">
                                                        <a href="#" class="services__subcategories-link">
                                                            SMM
                                                        </a>
                                                    </li>
                                                    <li class="services__subcategories-list-item">
                                                        <a href="#" class="services__subcategories-link">
                                                            Продвижение приложений
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="services__subcategories-list-item">
                                                <a href="#" class="services__subcategories-link">
                                                    PR
                                                </a>
                                                <ul class="services__subcategories-list">
                                                    <li class="services__subcategories-list-item">
                                                        <a href="#" class="services__subcategories-link">
                                                            Стратегия
                                                        </a>
                                                    </li>
                                                    <li class="services__subcategories-list-item">
                                                        <a href="#" class="services__subcategories-link">
                                                            Сопровождение
                                                        </a>
                                                    </li>

                                                </ul>
                                            </li>
                                        </ul>
                                        <div class="services__showreel-wrapper">
                                            <a href="/video/showreel.mp4" class="services__showreel" data-fancybox="">
                                                <img src="/images/showreel.webp" alt="">
                                                <video loop="" muted="" playsinline="">
                                                    <source src="/video/showreel_h265.mp4"
                                                            type="video/mp4; codecs=hevc,mp4a.40.2">
                                                    <source src="/video/showreel.mp4" type="video/mp4">
                                                </video>
                                            </a>
                                        </div>
                                        <a href="#" class="services__services-accordion-dropdown-link">
                                            Подробнее о направлении
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="services__services-list-item">
                        <div class="services__services-accordion">
                            <button class="services__services-accordion-btn">
                                <span class="services__services-accordion-btn-text">
                                    Брендинг
                                </span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                          d="M13 4H11V11H4L4 13H11V20H13V13H20V11H13V4Z"/>
                                </svg>
                            </button>
                            <div class="services__services-accordion-dropdown">
                                <div class="services__services-accordion-dropdown-content">
                                    <div class="services__services-accordion-dropdown-text-content">
                                        <div class="services__services-accordion-dropdown-text">
                                            <p>
                                                Нужно выделиться среди конкурентов? Можем помочь. Сделаем продуманный
                                                дизайн
                                                сайта или приложения для людей. Отталкиваемся от задач и
                                                пользовательского
                                                опытаНужно выделиться среди конкурентов?
                                            </p>
                                            <ul>
                                                <li>
                                                    Пункт
                                                </li>
                                                <li>
                                                    Пункт
                                                </li>
                                                <li>
                                                    Пункт
                                                </li>
                                            </ul>
                                            <p>
                                                Можем помочь. Сделаем продуманный дизайн сайта или приложения для людей.
                                                Отталкиваемся от задач и пользовательского опыта
                                            </p>
                                        </div>
                                        <a href="#" class="services__services-accordion-dropdown-link">
                                            Подробнее
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="services__services-list-item">
                        <div class="services__services-accordion">
                            <button class="services__services-accordion-btn">
                                <span class="services__services-accordion-btn-text">
                                    Веб-разработка
                                </span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                          d="M13 4H11V11H4L4 13H11V20H13V13H20V11H13V4Z"/>
                                </svg>
                            </button>
                            <div class="services__services-accordion-dropdown">
                                <div class="services__services-accordion-dropdown-content">
                                    <div class="services__services-accordion-dropdown-text-content">
                                        <div class="services__services-accordion-dropdown-text">
                                            <p>
                                                Нужно выделиться среди конкурентов? Можем помочь. Сделаем продуманный
                                                дизайн
                                                сайта или приложения для людей. Отталкиваемся от задач и
                                                пользовательского
                                                опытаНужно выделиться среди конкурентов?
                                            </p>
                                            <ul>
                                                <li>
                                                    Пункт
                                                </li>
                                                <li>
                                                    Пункт
                                                </li>
                                                <li>
                                                    Пункт
                                                </li>
                                            </ul>
                                            <p>
                                                Можем помочь. Сделаем продуманный дизайн сайта или приложения для людей.
                                                Отталкиваемся от задач и пользовательского опыта
                                            </p>
                                        </div>
                                        <a href="#" class="services__services-accordion-dropdown-link">
                                            Подробнее
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="services__services-list-item">
                        <div class="services__services-accordion">
                            <button class="services__services-accordion-btn">
                                <span class="services__services-accordion-btn-text">
                                    Nocode
                                </span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                          d="M13 4H11V11H4L4 13H11V20H13V13H20V11H13V4Z"/>
                                </svg>
                            </button>
                            <div class="services__services-accordion-dropdown">
                                <div class="services__services-accordion-dropdown-content">
                                    <div class="services__services-accordion-dropdown-text-content">
                                        <div class="services__services-accordion-dropdown-text">
                                            <p>
                                                Нужно выделиться среди конкурентов? Можем помочь. Сделаем продуманный
                                                дизайн
                                                сайта или приложения для людей. Отталкиваемся от задач и
                                                пользовательского
                                                опытаНужно выделиться среди конкурентов?
                                            </p>
                                            <ul>
                                                <li>
                                                    Пункт
                                                </li>
                                                <li>
                                                    Пункт
                                                </li>
                                                <li>
                                                    Пункт
                                                </li>
                                            </ul>
                                            <p>
                                                Можем помочь. Сделаем продуманный дизайн сайта или приложения для людей.
                                                Отталкиваемся от задач и пользовательского опыта
                                            </p>
                                        </div>
                                        <a href="#" class="services__services-accordion-dropdown-link">
                                            Подробнее
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="services__services-list-item">
                        <div class="services__services-accordion">
                            <button class="services__services-accordion-btn">
                                <span class="services__services-accordion-btn-text">
                                    Техподдержка
                                </span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                          d="M13 4H11V11H4L4 13H11V20H13V13H20V11H13V4Z"/>
                                </svg>
                            </button>
                            <div class="services__services-accordion-dropdown">
                                <div class="services__services-accordion-dropdown-content">
                                    <div class="services__services-accordion-dropdown-text-content">
                                        <div class="services__services-accordion-dropdown-text">
                                            <p>
                                                Нужно выделиться среди конкурентов? Можем помочь. Сделаем продуманный
                                                дизайн
                                                сайта или приложения для людей. Отталкиваемся от задач и
                                                пользовательского
                                                опытаНужно выделиться среди конкурентов?
                                            </p>
                                            <ul>
                                                <li>
                                                    Пункт
                                                </li>
                                                <li>
                                                    Пункт
                                                </li>
                                                <li>
                                                    Пункт
                                                </li>
                                            </ul>
                                            <p>
                                                Можем помочь. Сделаем продуманный дизайн сайта или приложения для людей.
                                                Отталкиваемся от задач и пользовательского опыта
                                            </p>
                                        </div>
                                        <a href="#" class="services__services-accordion-dropdown-link">
                                            Подробнее
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="services__solutions-block">
            <h2 class="services__solutions-block-heading">
                Решения
            </h2>
            <div class="services__solutions-block-content">
                <h3 class="services__solutions-block-secondary-heading">
                    Технологии подбираем<br> под&nbsp;задачу
                </h3>
                <ul class="services__solutions-block-list">
                    <li class="services__solutions-block-list-item">
                        <div class="services__solutions-block-card">
                            PHP
                        </div>
                    </li>
                    <li class="services__solutions-block-list-item">
                        <div class="services__solutions-block-card">
                            JavaScript
                        </div>
                    </li>
                    <li class="services__solutions-block-list-item">
                        <div class="services__solutions-block-card">
                            1C-Bitrix
                        </div>
                    </li>
                    <li class="services__solutions-block-list-item">
                        <div class="services__solutions-block-card">
                            Laravel
                        </div>
                    </li>
                    <li class="services__solutions-block-list-item">
                        <div class="services__solutions-block-card">
                            Vue.JS
                        </div>
                    </li>
                    <li class="services__solutions-block-list-item">
                        <div class="services__solutions-block-card">
                            Nuxt.JS
                        </div>
                    </li>
                    <li class="services__solutions-block-list-item">
                        <div class="services__solutions-block-card">
                            Wordpress
                        </div>
                    </li>
                    <li class="services__solutions-block-list-item">
                        <div class="services__solutions-block-card">
                            Tilda
                        </div>
                    </li>
                    <li class="services__solutions-block-list-item">
                        <div class="services__solutions-block-card">
                            Shopify
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>