<section class="service-cta" data-section="dark">
  <div class="service-cta__content">
    <div class="service-cta__row">
      <h1 class="service-cta__heading">
        Обсудить проект<br>
        для вашей компании
      </h1>
      <form action="/" method="POST" class="service-cta__form js-form">
        <div class="service-cta__form-default-layer">
          <div class="service-cta__form-fields">
            <div class="service-cta__form-field">
              <h2 class="service-cta__form-field-title">
                Как вас зовут
              </h2>
              <div class="service-cta__input-wrapper">
                <input type="text" class="service-cta__input" required name="your-name">
              </div>
            </div>
            <div class="service-cta__form-field">
              <h2 class="service-cta__form-field-title">
                Телефон
              </h2>
              <div class="service-cta__input-wrapper">
                <input type="tel" class="service-cta__input" required name="your-phone">
              </div>
            </div>
            <div class="service-cta__form-field">
              <h2 class="service-cta__form-field-title">
                Тема обращения
              </h2>
              <div class="service-cta__input-wrapper">
                <textarea name="comment" class="service-cta__input service-cta__input--textarea" rows="5"
                  required></textarea>
              </div>
            </div>
          </div>
          <div class="service-cta__form-controls">
            <button class="service-cta__form-submit" type="submit">
              Отправить
            </button>

            <label class="service-cta__form-policy">
              <input type="checkbox" class="service-cta__form-policy-input" name="policy" value="Y" required="">
              <span class="service-cta__form-policy-mark"></span>
              <span class="service-cta__form-policy-text">
                Нажимая кнопку «отправить», вы даете согласие на обработку персональных данных
              </span>
            </label>
          </div>
        </div>
        <div class="service-cta__form-success-layer">
          Заявка успешно отправлена
        </div>
      </form>
    </div>
  </div>
</section>