<section class="service-projects" data-section="dark">
    <div class="service-projects__content">
        <h2 class="service-projects__heading">
            Избранные проекты
        </h2>
        <div class="service-projects__slider">
            <div class="service-projects__slider-top-row">
                <h3 class="service-projects__slider-category">
                    Веб-разработка
                </h3>
                <div class="service-projects__slider-arrows">
                    <button class="service-projects__slider-arrow service-projects__slider-arrow--prev">
                        назад
                    </button>
                    <button class="service-projects__slider-arrow service-projects__slider-arrow--next">
                        вперед
                    </button>
                </div>
            </div>
            <div class="service-projects__slider-wrapper">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#" class="projects__card">
                                <div class="projects__card-image-container">
                                    <img src="/images/service-projects/1.webp" alt="" class="projects__card-image">
                                </div>
                                <div class="projects__card-info">
                                    <h4 class="projects__card-title">
                                        Чистополье
                                    </h4>
                                    <div class="projects__card-name">
                                        Сельское хозяйство
                                    </div>
                                    <div class="projects__card-year">
                                        2025
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="projects__card">
                                <div class="projects__card-image-container">
                                    <img src="/images/service-projects/2.webp" alt="" class="projects__card-image">
                                </div>
                                <div class="projects__card-info">
                                    <h4 class="projects__card-title">
                                        Хлебная страна
                                    </h4>
                                    <div class="projects__card-name">
                                        Производство
                                    </div>
                                    <div class="projects__card-year">
                                        2025
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="projects__card">
                                <div class="projects__card-image-container">
                                    <img src="/images/service-projects/3.webp" alt="" class="projects__card-image">
                                </div>
                                <div class="projects__card-info">
                                    <h4 class="projects__card-title">
                                        Хлебная страна
                                    </h4>
                                    <div class="projects__card-name">
                                        Производство
                                    </div>
                                    <div class="projects__card-year">
                                        2025
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>