<section class="service-clients" data-section="light">
    <div class="service-clients__content">
        <h2 class="service-clients__heading">
            Клиенты
        </h2>
        <div class="service-clients__marquee" data-service-clients="">
            <div class="service-clients__cards">
                <div class="service-clients__card">
                    <img src="/images/service-clients/osio.svg" alt="" class="service-clients__card-logo">
                </div>
                <div class="service-clients__card service-clients__card--square">
                    <img src="/images/service-clients/taif.webp" alt="" class="service-clients__card-logo">
                </div>
                <div class="service-clients__card">
                    <img src="/images/service-clients/vipavenue.svg" alt="" class="service-clients__card-logo">
                </div>
                <div class="service-clients__card service-clients__card--medium">
                    <img src="/images/service-clients/natural-health.svg" alt="" class="service-clients__card-logo">
                </div>
                <div class="service-clients__card service-clients__card--square">
                    <img src="/images/service-clients/gld.svg" alt="" class="service-clients__card-logo">
                </div>
                <div class="service-clients__card">
                    <img src="/images/service-clients/gisgis.svg" alt="" class="service-clients__card-logo">
                </div>
            </div>
        </div>
    </div>
</section>
