<section class="start-project">
  <div class="start-project__content">
    <div class="start-project__top">
      <h1 class="start-project__heading">Начать проект</h1>
    </div>
    <div class="start-project__bottom">
      <div class="start-project__text">Свяжитесь с нами, чтобы начать.</div>
      <div class="start-project__no-tz">
        Не требуем детального ТЗ и предлагаем решения сами.
      </div>
      <form action="/" method="POST" class="start-project__form">
        <div class="start-project__form-fields">
          <div class="start-project__form-field">
            <label class="start-project__form-label">
              <span class="start-project__form-label-text">
                Что бы вы хотели?
              </span>
              <input type="text" class="start-project__form-input" />
            </label>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
