<section class="stories" data-section="dark">
  <div class="stories__content">
    <h2 class="stories__heading">Сторисы</h2>
    <div class="stories__slider">
      <div class="stories__slider-row">
        <h2 class="stories__slider-heading">Новые — 2</h2>
        <div class="stories__slider-arrows">
          <button class="stories__slider-arrow stories__slider-arrow--prev">
            prev
          </button>
          <button class="stories__slider-arrow stories__slider-arrow--next">
            next
          </button>
        </div>
      </div>
      <div class="stories__slider-wrapper">
        <div class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <a href="#" class="stories__slider-card" data-story-id="rustem">
                <div class="stories__slider-card-image-container">
                  <img
                    src="/images/stories/1.webp"
                    alt=""
                    class="stories__slider-card-image"
                  />
                  <span class="stories__slider-card-top-overlay"></span>
                  <span class="stories__slider-card-bottom-overlay"></span>
                </div>
                <div class="stories__slider-card-content">
                  <div class="stories__slider-card-label">New</div>
                  <div class="stories__slider-card-logo">
                    <img
                      src="/images/mw-logo.svg"
                      alt="Лого"
                      class="stories__slider-card-logo-image"
                    />
                  </div>
                  <div class="stories__slider-card-text">
                    How to start an online business and attract investment?
                  </div>
                </div>
              </a>
            </div>
            <div class="swiper-slide">
              <a
                href="#"
                class="stories__slider-card"
                data-story-id="how-to-start"
              >
                <div class="stories__slider-card-image-container">
                  <img
                    src="/images/stories/2.webp"
                    alt=""
                    class="stories__slider-card-image"
                  />
                  <span class="stories__slider-card-top-overlay"></span>
                </div>
                <div class="stories__slider-card-content">
                  <div class="stories__slider-card-label">New</div>
                  <div class="stories__slider-card-logo">
                    <img
                      src="/images/mw-logo.svg"
                      alt="Лого"
                      class="stories__slider-card-logo-image"
                    />
                  </div>
                </div>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="#" class="stories__slider-card" data-story-id="icl">
                <div class="stories__slider-card-image-container">
                  <img
                    src="/images/stories/3.webp"
                    alt=""
                    class="stories__slider-card-image"
                  />
                  <span class="stories__slider-card-top-overlay"></span>
                </div>
                <div class="stories__slider-card-content">
                  <div class="stories__slider-card-logo">
                    <img
                      src="/images/mw-logo.svg"
                      alt="Лого"
                      class="stories__slider-card-logo-image"
                    />
                  </div>
                </div>
              </a>
            </div>
            <div class="swiper-slide">
              <a
                href="#"
                class="stories__slider-card"
                data-story-id="press-composit"
              >
                <div class="stories__slider-card-image-container">
                  <img
                    src="/images/stories/4.webp"
                    alt=""
                    class="stories__slider-card-image"
                  />
                  <span class="stories__slider-card-top-overlay"></span>
                  <span class="stories__slider-card-bottom-overlay"></span>
                </div>
                <div class="stories__slider-card-content">
                  <div class="stories__slider-card-logo">
                    <img
                      src="/images/mw-logo.svg"
                      alt="Лого"
                      class="stories__slider-card-logo-image"
                    />
                  </div>
                  <div class="stories__slider-card-text">
                    How to start an online business and attract investment?
                  </div>
                </div>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="#" class="stories__slider-card" data-story-id="tatneft">
                <div class="stories__slider-card-image-container">
                  <img
                    src="/images/stories/5.webp"
                    alt=""
                    class="stories__slider-card-image"
                  />
                  <span class="stories__slider-card-top-overlay"></span>
                </div>
                <div class="stories__slider-card-content">
                  <div class="stories__slider-card-logo">
                    <img
                      src="/images/mw-logo.svg"
                      alt="Лого"
                      class="stories__slider-card-logo-image"
                    />
                  </div>
                </div>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="#" class="stories__slider-card">
                <div class="stories__slider-card-image-container">
                  <img
                    src="/images/stories/6.webp"
                    alt=""
                    class="stories__slider-card-image"
                  />
                  <span class="stories__slider-card-top-overlay"></span>
                  <span class="stories__slider-card-bottom-overlay"></span>
                </div>
                <div class="stories__slider-card-content">
                  <div class="stories__slider-card-logo">
                    <img
                      src="/images/mw-logo.svg"
                      alt="Лого"
                      class="stories__slider-card-logo-image"
                    />
                  </div>
                  <div class="stories__slider-card-text">
                    How to start an online business and attract investment?
                  </div>
                </div>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="#" class="stories__slider-card" data-story-id="rustem">
                <div class="stories__slider-card-image-container">
                  <img
                    src="/images/stories/1.webp"
                    alt=""
                    class="stories__slider-card-image"
                  />
                  <span class="stories__slider-card-top-overlay"></span>
                  <span class="stories__slider-card-bottom-overlay"></span>
                </div>
                <div class="stories__slider-card-content">
                  <div class="stories__slider-card-label">New</div>
                  <div class="stories__slider-card-logo">
                    <img
                      src="/images/mw-logo.svg"
                      alt="Лого"
                      class="stories__slider-card-logo-image"
                    />
                  </div>
                  <div class="stories__slider-card-text">
                    How to start an online business and attract investment?
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="stories__modal" data-lenis-prevent="">
    <div class="stories__modal-inner">
      <div class="stories__modal-row">
        <a href="#" class="stories__modal-logo">
          <img
            src="/images/mw-logo-white.svg"
            alt=""
            class="stories__modal-logo-image"
          />
        </a>
        <h3 class="stories__modal-title">Истории</h3>
        <button class="stories__modal-close" type="button">Закрыть</button>
      </div>
      <div class="stories__modal-slider">
        <div class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div
                class="stories__modal-slider-card"
                data-story-id="press-composit"
              >
                <div class="stories__modal-slider-card-progress">
                  <span class="stories__modal-slider-card-progress-bullet">
                  </span>
                  {{!--
                  <span class="stories__modal-slider-card-progress-bullet">
                  </span>
                  <span class="stories__modal-slider-card-progress-bullet">
                  </span>
                  <span class="stories__modal-slider-card-progress-bullet">
                  </span>
                  <span class="stories__modal-slider-card-progress-bullet">
                  </span>
                  --}}
                </div>
                <div class="stories__modal-slider-card-inner">
                  <div class="stories__modal-slider-card-media">
                    <div class="swiper">
                      <div class="swiper-wrapper">
                        {{!--
                        <div class="swiper-slide">
                          <div class="stories__modal-slider-card-media-card">
                            <img
                              src="/images/stories-modal/1.webp"
                              alt=""
                              class="stories__modal-slider-card-media-card-image"
                            />
                          </div>
                        </div>
                        --}}
                        <div class="swiper-slide">
                          <div class="stories__modal-slider-card-media-card">
                            <img
                              src="/images/stories-placeholder.webp"
                              alt=""
                              class="stories__modal-slider-card-media-card-image"
                            />
                            <video
                              src="/video/advaita.mp4"
                              playsinline=""
                              class="stories__modal-slider-card-media-card-image"
                              preload="metadata"
                            ></video>
                          </div>
                        </div>
                        {{!--
                        <div class="swiper-slide">
                          <div class="stories__modal-slider-card-media-card">
                            <img
                              src="/images/stories-modal/1.webp"
                              alt=""
                              class="stories__modal-slider-card-media-card-image"
                            />
                          </div>
                        </div>
                        <div class="swiper-slide">
                          <div class="stories__modal-slider-card-media-card">
                            <img
                              src="/images/stories-placeholder.webp"
                              alt=""
                              class="stories__modal-slider-card-media-card-image"
                            />
                          </div>
                        </div>
                        <div class="swiper-slide">
                          <div class="stories__modal-slider-card-media-card">
                            <img
                              src="/images/stories-modal/1.webp"
                              alt=""
                              class="stories__modal-slider-card-media-card-image"
                            />
                          </div>
                        </div>
                        --}}
                      </div>
                    </div>
                    <div class="stories__modal-slider-card-media-overlay"></div>
                  </div>
                  <div class="stories__modal-slider-card-inner-content">
                    <div class="stories__modal-slider-card-label">New</div>
                    <div class="stories__modal-slider-card-logo">
                      <img
                        src="/images/mw-logo.svg"
                        alt="Лого"
                        class="stories__modal-slider-card-logo-image"
                      />
                    </div>
                    <div class="stories__modal-slider-card-text-content">
                      <div class="stories__modal-slider-card-text">
                        Татнефть Пресс-композит один из крупнейших производителй
                        композитных материалов, которые применяються в городской
                        среде, на производствах. Татнефть Пресс-композит один из
                        крупнейших производителй композитных материалов, которые
                        применяються в городской среде, на производствах.
                      </div>
                    </div>
                    <div class="stories__modal-slider-card-buttons">
                      <button class="stories__modal-slider-card-sound">
                        <svg width="14" height="14" aria-hidden="true">
                          <use xlink:href="#sound"></use>
                        </svg>
                        <svg width="14" height="14" aria-hidden="true">
                          <use xlink:href="#no-sound"></use>
                        </svg>
                      </button>
                      {{!--
                      <button class="stories__modal-slider-card-like">
                        <svg width="14" height="14" aria-hidden="true">
                          <use xlink:href="#like"></use>
                        </svg>
                      </button>
                      --}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div
                class="stories__modal-slider-card"
                data-story-id="how-to-start"
              >
                <div class="stories__modal-slider-card-progress">
                  <span class="stories__modal-slider-card-progress-bullet">
                  </span>
                  <span class="stories__modal-slider-card-progress-bullet">
                  </span>
                  <span class="stories__modal-slider-card-progress-bullet">
                  </span>
                  <span class="stories__modal-slider-card-progress-bullet">
                  </span>
                  <span class="stories__modal-slider-card-progress-bullet">
                  </span>
                </div>
                <div class="stories__modal-slider-card-inner">
                  <div class="stories__modal-slider-card-media">
                    <div class="swiper">
                      <div class="swiper-wrapper">
                        <div class="swiper-slide">
                          <div class="stories__modal-slider-card-media-card">
                            <img
                              src="/images/stories-modal/3.webp"
                              alt=""
                              class="stories__modal-slider-card-media-card-image"
                            />
                          </div>
                        </div>
                        <div class="swiper-slide">
                          <div
                            class="stories__modal-slider-card-media-card"
                            data-stories-duration="5"
                          >
                            <img
                              src="/images/stories-placeholder.webp"
                              alt=""
                              class="stories__modal-slider-card-media-card-image"
                            />
                          </div>
                        </div>
                        <div class="swiper-slide">
                          <div class="stories__modal-slider-card-media-card">
                            <img
                              src="/images/stories-modal/3.webp"
                              alt=""
                              class="stories__modal-slider-card-media-card-image"
                            />
                          </div>
                        </div>
                        <div class="swiper-slide">
                          <div class="stories__modal-slider-card-media-card">
                            <img
                              src="/images/stories-placeholder.webp"
                              alt=""
                              class="stories__modal-slider-card-media-card-image"
                            />
                          </div>
                        </div>
                        <div class="swiper-slide">
                          <div class="stories__modal-slider-card-media-card">
                            <img
                              src="/images/stories-modal/3.webp"
                              alt=""
                              class="stories__modal-slider-card-media-card-image"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="stories__modal-slider-card-media-overlay"></div>
                  </div>
                  <div class="stories__modal-slider-card-inner-content">
                    <div class="stories__modal-slider-card-label">New</div>
                    <div class="stories__modal-slider-card-logo">
                      <img
                        src="/images/mw-logo.svg"
                        alt="Лого"
                        class="stories__modal-slider-card-logo-image"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="stories__modal-slider-card" data-story-id="icl">
                <div class="stories__modal-slider-card-progress">
                  <span class="stories__modal-slider-card-progress-bullet">
                  </span>
                  <span class="stories__modal-slider-card-progress-bullet">
                  </span>
                  <span class="stories__modal-slider-card-progress-bullet">
                  </span>
                  <span class="stories__modal-slider-card-progress-bullet">
                  </span>
                  <span class="stories__modal-slider-card-progress-bullet">
                  </span>
                </div>
                <div class="stories__modal-slider-card-inner">
                  <div class="stories__modal-slider-card-media">
                    <div class="swiper">
                      <div class="swiper-wrapper">
                        <div class="swiper-slide">
                          <div class="stories__modal-slider-card-media-card">
                            <img
                              src="/images/stories-modal/2.webp"
                              alt=""
                              class="stories__modal-slider-card-media-card-image"
                            />
                          </div>
                        </div>
                        <div class="swiper-slide">
                          <div
                            class="stories__modal-slider-card-media-card"
                            data-stories-duration="5"
                          >
                            <img
                              src="/images/stories-placeholder.webp"
                              alt=""
                              class="stories__modal-slider-card-media-card-image"
                            />
                          </div>
                        </div>
                        <div class="swiper-slide">
                          <div class="stories__modal-slider-card-media-card">
                            <img
                              src="/images/stories-modal/2.webp"
                              alt=""
                              class="stories__modal-slider-card-media-card-image"
                            />
                          </div>
                        </div>
                        <div class="swiper-slide">
                          <div class="stories__modal-slider-card-media-card">
                            <img
                              src="/images/stories-placeholder.webp"
                              alt=""
                              class="stories__modal-slider-card-media-card-image"
                            />
                          </div>
                        </div>
                        <div class="swiper-slide">
                          <div class="stories__modal-slider-card-media-card">
                            <img
                              src="/images/stories-modal/2.webp"
                              alt=""
                              class="stories__modal-slider-card-media-card-image"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="stories__modal-slider-card-media-overlay"></div>
                  </div>
                  <div class="stories__modal-slider-card-inner-content">
                    <div class="stories__modal-slider-card-logo">
                      <img
                        src="/images/mw-logo.svg"
                        alt="Лого"
                        class="stories__modal-slider-card-logo-image"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="stories__modal-slider-card" data-story-id="rustem">
                <div class="stories__modal-slider-card-progress">
                  <span class="stories__modal-slider-card-progress-bullet">
                  </span>
                  <span class="stories__modal-slider-card-progress-bullet">
                  </span>
                  <span class="stories__modal-slider-card-progress-bullet">
                  </span>
                  <span class="stories__modal-slider-card-progress-bullet">
                  </span>
                  <span class="stories__modal-slider-card-progress-bullet">
                  </span>
                </div>
                <div class="stories__modal-slider-card-inner">
                  <div class="stories__modal-slider-card-media">
                    <div class="swiper">
                      <div class="swiper-wrapper">
                        <div class="swiper-slide">
                          <div class="stories__modal-slider-card-media-card">
                            <img
                              src="/images/stories-modal/4.webp"
                              alt=""
                              class="stories__modal-slider-card-media-card-image"
                            />
                          </div>
                        </div>
                        <div class="swiper-slide">
                          <div
                            class="stories__modal-slider-card-media-card"
                            data-stories-duration="5"
                          >
                            <img
                              src="/images/stories-placeholder.webp"
                              alt=""
                              class="stories__modal-slider-card-media-card-image"
                            />
                          </div>
                        </div>
                        <div class="swiper-slide">
                          <div class="stories__modal-slider-card-media-card">
                            <img
                              src="/images/stories-modal/4.webp"
                              alt=""
                              class="stories__modal-slider-card-media-card-image"
                            />
                          </div>
                        </div>
                        <div class="swiper-slide">
                          <div class="stories__modal-slider-card-media-card">
                            <img
                              src="/images/stories-placeholder.webp"
                              alt=""
                              class="stories__modal-slider-card-media-card-image"
                            />
                          </div>
                        </div>
                        <div class="swiper-slide">
                          <div class="stories__modal-slider-card-media-card">
                            <img
                              src="/images/stories-modal/4.webp"
                              alt=""
                              class="stories__modal-slider-card-media-card-image"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="stories__modal-slider-card-media-overlay"></div>
                  </div>
                  <div class="stories__modal-slider-card-inner-content">
                    <div class="stories__modal-slider-card-label">New</div>
                    <div class="stories__modal-slider-card-logo">
                      <img
                        src="/images/mw-logo.svg"
                        alt="Лого"
                        class="stories__modal-slider-card-logo-image"
                      />
                    </div>
                    <div class="stories__modal-slider-card-text-content">
                      <div class="stories__modal-slider-card-text">
                        Татнефть Пресс-композит один из крупнейших производителй
                        композитных материалов, которые применяються в городской
                        среде, на производствах. Татнефть Пресс-композит один из
                        крупнейших производителй композитных материалов, которые
                        применяються в городской среде, на производствах.
                      </div>
                    </div>
                    <div class="stories__modal-slider-card-buttons">
                      <button class="stories__modal-slider-card-sound">
                        <svg width="14" height="14" aria-hidden="true">
                          <use xlink:href="#sound"></use>
                        </svg>
                        <svg width="14" height="14" aria-hidden="true">
                          <use xlink:href="#no-sound"></use>
                        </svg>
                      </button>
                      <button class="stories__modal-slider-card-like">
                        <svg width="14" height="14" aria-hidden="true">
                          <use xlink:href="#like"></use>
                        </svg>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="stories__modal-slider-card" data-story-id="tatneft">
                <div class="stories__modal-slider-card-progress">
                  <span class="stories__modal-slider-card-progress-bullet">
                  </span>
                  <span class="stories__modal-slider-card-progress-bullet">
                  </span>
                  <span class="stories__modal-slider-card-progress-bullet">
                  </span>
                  <span class="stories__modal-slider-card-progress-bullet">
                  </span>
                  <span class="stories__modal-slider-card-progress-bullet">
                  </span>
                </div>
                <div class="stories__modal-slider-card-inner">
                  <div class="stories__modal-slider-card-media">
                    <div class="swiper">
                      <div class="swiper-wrapper">
                        <div class="swiper-slide">
                          <div class="stories__modal-slider-card-media-card">
                            <img
                              src="/images/stories-modal/5.webp"
                              alt=""
                              class="stories__modal-slider-card-media-card-image"
                            />
                          </div>
                        </div>
                        <div class="swiper-slide">
                          <div
                            class="stories__modal-slider-card-media-card"
                            data-stories-duration="5"
                          >
                            <img
                              src="/images/stories-placeholder.webp"
                              alt=""
                              class="stories__modal-slider-card-media-card-image"
                            />
                          </div>
                        </div>
                        <div class="swiper-slide">
                          <div class="stories__modal-slider-card-media-card">
                            <img
                              src="/images/stories-modal/5.webp"
                              alt=""
                              class="stories__modal-slider-card-media-card-image"
                            />
                          </div>
                        </div>
                        <div class="swiper-slide">
                          <div class="stories__modal-slider-card-media-card">
                            <img
                              src="/images/stories-placeholder.webp"
                              alt=""
                              class="stories__modal-slider-card-media-card-image"
                            />
                          </div>
                        </div>
                        <div class="swiper-slide">
                          <div class="stories__modal-slider-card-media-card">
                            <img
                              src="/images/stories-modal/5.webp"
                              alt=""
                              class="stories__modal-slider-card-media-card-image"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="stories__modal-slider-card-media-overlay"></div>
                  </div>
                  <div class="stories__modal-slider-card-inner-content">
                    <div class="stories__modal-slider-card-logo">
                      <img
                        src="/images/mw-logo.svg"
                        alt="Лого"
                        class="stories__modal-slider-card-logo-image"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
