.wide-image {
  margin: 20rem 0;

  @include breakpoint(mobile) {
    margin: 2rem 0;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
  }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.narrow-image {
  margin: 3rem 0;
  margin-bottom: 3rem;

  @include breakpointMF(small-tablet) {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-gap: 2rem;
  }

  @include breakpoint(mobile) {
    margin: 2rem 0;
  }
  img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
    grid-column: 3 / 11;
  }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.fullscreen-image {
  position: relative;
  width: 100vw;
  left: 50%;
  transform: translateX(-50%);
  margin: 20rem 0;

  @include breakpoint(mobile) {
    margin: 2rem 0;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
