.case-projects {
  @include blockWrapper;
  margin-top: 55rem;

  @include breakpoint(mobile) {
    display: none;
  }
}

.case-projects__content {
  @include blockContent;
  display: flex;
  flex-direction: column;
}

.case-projects__heading {
  text-align: center;
  margin-bottom: 30rem;
  font-size: 8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.32rem;
}
