.intro {
  overflow: hidden;
  overflow: clip;
  backface-visibility: hidden;
}

.intro__main-wrapper {
  @include blockWrapper;
  position: relative;
  isolation: isolate;
  transition: color 0.4s;
}
.intro__bg {
  position: absolute;
  inset: 0;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s, visibility 0s linear 0.4s;
  transform: scale(1.01);
}

.intro__bg-item {
  position: absolute;
  inset: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease 0.4s, visibility 0s ease 0.8s;
  z-index: 5;

  &.active {
    opacity: 1;
    visibility: inherit;
    transition: opacity 0.4s, visibility 0.4s;
    z-index: 6;
  }
}

.intro__bg-item-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.intro__content {
  @include blockContent;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-gap: var(--column-gap);
  grid-template-rows: auto 1fr auto;
  padding-bottom: 4rem;
  padding-top: 1.5rem;

  min-height: min(100vh, 120rem);
  min-height: min(100svh, 120rem);

  @media (orientation: landscape) and (min-width: 641px) {
    min-height: 100vh;
    min-height: 100svh;
  }

  @include breakpoint(mobile) {
    padding-bottom: 1.6rem;
    padding-top: 2rem;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-gap: var(--column-gap);
    grid-template-rows: auto 1fr auto auto;
    grid-row-gap: 1rem;
  }
}

.intro__start {
  font-size: 20rem;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  letter-spacing: -1rem;
  grid-column: 1 / 7;
  grid-row: 1 / 2;
  align-self: flex-start;
  justify-self: flex-start;
  margin-left: -1rem;
  margin-top: -1.5rem;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s, visibility 0s linear 0.4s;

  @include breakpoint(mobile) {
    margin: 0;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    align-self: flex-start;
    justify-self: flex-start;
    font-size: 12rem;
    font-style: normal;
    font-weight: 400;
    line-height: 90%;
    letter-spacing: -0.6rem;
    margin-top: -1.2rem;

    display: none;
  }
}

.intro__m {
  font-size: 20rem;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  letter-spacing: -1rem;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  align-self: flex-start;
  justify-self: flex-start;
  margin-left: -1.45rem;
  margin-top: -1.5rem;

  @include breakpointMF(small-tablet) {
    transition: opacity 0.4s, visibility 0.4s;
  }

  @include breakpoint(mobile) {
    margin: 0;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    align-self: flex-start;
    justify-self: flex-start;
    font-size: 12rem;
    font-style: normal;
    font-weight: 400;
    line-height: 90%;
    letter-spacing: -0.6rem;
    margin-top: -1.2rem;
    margin-left: -0.7rem;
  }
}

.intro__w {
  font-size: 20rem;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  letter-spacing: -1rem;
  text-align: center;
  grid-column: 6 / 8;
  grid-row: 3 / 4;
  align-self: flex-end;
  justify-self: center;
  text-align: center;
  margin-bottom: -1.5rem;
  @include breakpointMF(small-tablet) {
    transition: opacity 0.2s, visibility 0.2s;
  }

  @include breakpoint(mobile) {
    margin: 0;
    font-size: 12rem;
    font-style: normal;
    font-weight: 400;
    line-height: 90%;
    letter-spacing: -0.6rem;
    grid-row: 3 / 4;
    grid-column: 1 / -1;
    align-self: flex-end;
    justify-self: flex-start;
    margin-bottom: -1rem;
  }
}

.intro__s {
  grid-column: 11 / -1;
  grid-row: 3 / 4;
  align-self: flex-end;
  justify-self: flex-end;
  font-size: 20rem;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  letter-spacing: -1rem;
  margin-right: 0rem;
  margin-bottom: -1.5rem;

  @include breakpointMF(small-tablet) {
    transition: opacity 0.4s, visibility 0.4s;
  }

  @include breakpoint(mobile) {
    margin: 0;
    font-size: 12rem;
    font-style: normal;
    font-weight: 400;
    line-height: 90%;
    letter-spacing: -0.6rem;
    grid-row: 4 / 5;
    grid-column: 3 / -1;
    align-self: flex-end;
    justify-self: flex-end;
  }
}

.intro__project {
  font-size: 20rem;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  letter-spacing: -1rem;
  text-align: center;
  grid-column: 7 / -1;
  z-index: 5;
  grid-row: 3 / 4;
  align-self: flex-end;
  justify-self: stretch;
  text-align: center;
  margin-bottom: -1.5rem;
  margin-left: -0.5em;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s, visibility 0s linear 0.4s;
  display: flex;
  align-items: center;
  justify-content: space-between;

  span {
    margin-left: auto;
  }

  @include breakpoint(mobile) {
    margin: 0;
    font-size: 12rem;
    font-style: normal;
    font-weight: 400;
    line-height: 90%;
    letter-spacing: -0.6rem;
    grid-row: 3 / 4;
    grid-column: 1 / -1;
    align-self: flex-end;
    justify-self: flex-start;
    margin-bottom: -1rem;
    display: none;
  }
}

.intro__presentation {
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
  letter-spacing: -0.06rem;
  grid-row: 3 / 4;
  grid-column: 1 / 3;
  align-self: flex-end;
  justify-self: flex-start;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: currentColor;
    transition: transform 0.2s;
    transform-origin: left center;
    transform: scaleX(0);
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      &::before {
        transform: scaleX(1);
      }
    }
  }

  @include breakpoint(mobile) {
    grid-row: 4 / 5;
    grid-column: 1 / 3;
    align-self: flex-end;
    justify-self: flex-start;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2rem;
    letter-spacing: -0.032rem;
    font-family: var(--inter-display);
  }
}

.intro__text-content {
  grid-column: 5 / 9;
  grid-row: 2 / 3;
  align-self: center;
  justify-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @include breakpoint(mobile) {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
  }
}

.intro__logo {
  margin-bottom: 6rem;
  position: relative;
  margin-left: 0.982rem;
  @include breakpoint(mobile) {
    margin-bottom: 3rem;
    margin-left: 0.85rem;
  }
}

.intro__logo-image {
  width: 6.19rem;
  display: block;
  height: auto;
  transition: opacity 0.4s;
  &:nth-child(2) {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }

  @include breakpoint(mobile) {
    width: 5.357rem;
  }
}

.intro__text {
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.4rem;
  letter-spacing: -0.08rem;
  margin-bottom: 4rem;

  @include breakpoint(mobile) {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2rem;
    letter-spacing: -0.032rem;
    font-family: var(--inter-display);
    margin-bottom: 2rem;
  }
}

.intro__btn {
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.4rem;
  letter-spacing: -0.06rem;
  text-align: center;
  align-self: center;
  justify-content: center;
  padding: 1.5rem 2rem;

  color: var(--text-color);
  transition: color 0.2s, background-color 0.2s;
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--primary-color);
    border-radius: 50rem;
    z-index: -1;
    transition: background-color 0.2s, transform 0.2s;
  }
  &:link,
  &:visited {
    color: var(--text-color);
  }

  @include breakpoint(mobile) {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2rem;
    letter-spacing: -0.048rem;
    font-family: var(--inter-display);
    padding: 1.6rem 2rem;
  }
}

.intro__case {
  grid-row: 1 / 2;
  grid-column: 7 / -1;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  grid-gap: var(--column-gap);
  align-self: flex-start;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s, visibility 0s linear 0.2s;
  display: grid;
  @include breakpoint(mobile) {
    display: none;
  }
}

.intro__case-title {
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem; /* 120% */
  letter-spacing: -0.06rem;
  grid-column: 1 / 3;
}

.intro__project-name {
  grid-column: 3 / -1;
  display: grid;
}

.intro__project-name-item {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s, visibility 0s linear 0.4s;
  align-self: flex-start;
  justify-self: stretch;
  z-index: 5;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
  letter-spacing: -0.06rem;
  &.active {
    opacity: 1;
    visibility: inherit;
    transition: opacity 0.4s, visibility 0.4s;
    z-index: 10;
  }
}
@include breakpointMF(small-tablet) {
  @media (hover: hover) and (pointer: fine) {
    body:has(.intro__btn:hover) {
      .intro__studio,
      .intro__showreel,
      .intro__nav,
      .intro__m,
      .intro__w,
      .intro__s {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.4s, visibility 0s linear 0.4s;
      }

      .page-header__nav {
        opacity: 0;
        visibility: hidden;
      }

      .page-header__studio {
        opacity: 0;
        visibility: hidden;
      }
      .intro__bg {
        opacity: 1;
        visibility: inherit;
        transition: opacity 0.4s, visibility 0.4s;
      }

      .intro__case {
        opacity: 1;
        visibility: inherit;
        transition: opacity 0.4s, visibility 0.4s;
      }

      .intro {
        color: white;
      }

      .intro__btn {
        color: white;

        &::before {
          // transform: scale(1.2);
          background: rgba(255, 255, 255, 0.1);
        }
      }

      .intro__logo-image {
        &:nth-child(1) {
          opacity: 0;
        }

        &:nth-child(2) {
          opacity: 1;
        }
      }

      .intro__start,
      .intro__project {
        opacity: 1;
        visibility: inherit;
        transition: opacity 0.4s, visibility 0.4s;
      }
    }
  }
}

.intro__showreel {
  grid-column: 10 / -1;
  grid-row: 1 / 2;
  position: relative;
  @include breakpointMF(small-tablet) {
    transition: opacity 0.4s, visibility 0.4s;
  }

  @include breakpoint(mobile) {
    grid-column: 1 / -1;
    grid-row: unset;
    display: none;
  }
}

.intro__showreel-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: calc(50% - 1rem);
  position: absolute;
  right: 0;
  top: 0;
  transition: width 0.6s;
  pointer-events: all;

  width: calc(66.66% - 1rem);

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      width: 100%;
    }
  }

  @include breakpoint(mobile) {
    width: 100%;
    gap: 1rem;
    margin: 0;
  }
}

.intro__showreel-card-image-container {
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
  display: block;
  &::before {
    content: "";
    display: block;
    padding-bottom: 62%;
  }

  @include breakpoint(mobile) {
    border-radius: 0.5rem;
  }
}

.intro__showreel-card-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.intro__showreel-card-row {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  justify-content: space-between;
}

.intro__showreel-card-info {
  display: flex;
  flex-direction: column;
}

.intro__showreel-card-title {
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.4rem;
  letter-spacing: -0.08rem;
  @include breakpoint(mobile) {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2rem;
    letter-spacing: -0.032rem;
    font-family: var(--inter-display);
  }
}

.intro__showreel-card-duration {
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
  color: #878787;
  letter-spacing: -0.06rem;

  @include breakpoint(mobile) {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2rem;
    letter-spacing: -0.032rem;
    font-family: var(--inter-display);
  }
}

.intro__showreel-card-year {
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.4rem;
  letter-spacing: -0.08rem;
  text-align: right;

  @include breakpoint(mobile) {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2rem;
    letter-spacing: -0.032rem;
    font-family: var(--inter-display);
  }
}
