.page-footer {
  @include blockWrapper;
}

.page-footer__content {
  @include blockContent;
  min-height: min(100vh, 108rem);
  min-height: min(100svh, 108rem);
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: auto 1fr auto;

  @include breakpoint(laptop) {
    min-height: min(100vh, 80rem);
    min-height: min(100svh, 80rem);
  }

  @include breakpoint(mobile) {
    min-height: 100vh;
    min-height: 100svh;
  }
}

.page-footer__logo {
  align-self: center;
  justify-self: center;
  width: 8.268rem;
  margin-left: -0.866rem;
  margin-top: -0.499rem;
  grid-column: 1 / -1;
  grid-row: 1 / 4;

  @include breakpoint(laptop) {
    margin-top: -0.288rem;
    margin-right: -0.551rem;
    width: 5.253rem;
  }

  @include breakpoint(mobile) {
    width: 5.405rem;
    margin-right: -0.488rem;
    margin-top: -0.163rem;
  }
}

.page-footer__logo-image {
  display: block;
  width: 100%;
  height: auto;
}

.page-footer__row {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-gap: var(--column-gap);
  padding: 3rem 0;
  grid-column: 1 / -1;
  grid-row: 3 / 4;
  align-self: flex-end;

  @include breakpoint(laptop) {
    padding: 1.5rem 0;
  }

  @include breakpoint(mobile) {
    padding: 2rem 0;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-row-gap: 6rem;
  }
}

.page-footer__copyright {
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.4rem;
  letter-spacing: -0.08rem;
  grid-column: 1 / 3;

  @include breakpoint(laptop) {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -0.048rem;
  }

  @include breakpoint(mobile) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2rem;
    letter-spacing: -0.032rem;
    font-family: var(--inter-display);
  }
}

.page-footer__year {
  grid-column: 3 / 7;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.4rem;
  letter-spacing: -0.08rem;
  @include breakpoint(laptop) {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -0.048rem;
  }

  @include breakpoint(mobile) {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2rem;
    letter-spacing: -0.032rem;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    font-family: var(--inter-display);
  }
}

.page-footer__social-list {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  row-gap: 1rem;
  grid-column: 7 / 11;
  @include breakpoint(laptop) {
    gap: 1.27rem;
  }

  @include breakpoint(mobile) {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    gap: 1rem;
    grid-column: 3 / -1;
    grid-row: 1 / 2;
  }
}

.page-footer__social-list-item {
  flex-shrink: 0;
}

.page-footer__social-link {
  display: block;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.4rem;
  letter-spacing: -0.06rem;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: var(--primary-color);
    }
  }

  @include breakpoint(laptop) {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -0.048rem;
  }

  @include breakpoint(mobile) {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2rem;
    letter-spacing: -0.032rem;
    font-family: var(--inter-display);
  }
}

.page-footer__cookies {
  grid-column: 11 / -1;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.4rem;
  letter-spacing: -0.08rem;
  justify-self: flex-end;
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: var(--primary-color);
    }
  }

  @include breakpoint(laptop) {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -0.048rem;
  }

  @include breakpoint(mobile) {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2rem;
    letter-spacing: -0.032rem;
    font-family: var(--inter-display);
    grid-column: 3 / -1;
    grid-row: 2 / 3;
    justify-self: flex-start;
  }
}
